@tailwind base;
@tailwind components;
@tailwind utilities;
.icon-center {
  top: 40%;
  transform: translateY(-25%);
}
.header-nav-list {
  @apply:mr-8 border-b-2;
}
.header-nav-list:after {
  display: block;
  border: 1px solid #fa8907;
  content: "" !important;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}
.header-nav-list:hover::after {
  transform: scaleX(1);
}

.custom-shadow-left {
  box-shadow: -2px 8px 10px 2px rgba(0, 0, 0, 0.1);
}
.custom-shadow-right {
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.1);
}
#menu-hover.active {
  z-index: 20;
  opacity: 1;
}
#menu-hover.deactive {
  z-index: 0;
  opacity: 0;
}
